body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f5690c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

#introduction {
    background-color: #d69916;
    padding: 20px;
    margin-top: 20px;
}

#skills {
    background-color: #ccc;
    padding: 20px;
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
}
